* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
}

.slider-main-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.slider-content-container {
    display: flex;
    height: 100%;
}

.single-slide-container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
