* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
}

.slider-main-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.slider-content-container {
    display: flex;
    height: 100%;
}

.single-slide-container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    cursor: pointer;
}



.arrow img {
    width: 50px;
    background: rgba(255, 255, 255, 45%);
    padding: 10px;
    border-radius: 50%;
}

.dots-container {
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
}
